.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/main/BlaringPointedInvisiblerail-max-1mb.gif');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
.background h1{
    text-align: center;
    font-size: 100px;
}
button {
    border-radius: 30px;
    background: linear-gradient(to right, #00b09b, #96c93d);
    color: white;
    padding: 26px 34px;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: auto;
    padding: 0.5em 1em; /* adjust values as needed */
    border: none; /* remove border */
    width: 20%;
}
.test{
@media (min-width: 600px) {
    /* CSS styles for screens 600px and larger */
  }
  
  @media (max-width: 599px) {
    /* CSS styles for screens smaller than 600px */
  }
}
.jj, body{
  background: #7289da;
  padding: 0;
  margin: 0;
}
.box img{
  display: block;
  margin: auto;
  height: 200px;
}
.box h1{
  text-align: center;
  color: aliceblue;
}
.box h3{
  text-align: center;
  font-size: 25px;
}
.box button {
  border-radius: 30px;
  background: linear-gradient(to right, #00b09b, #96c93d);
  color: white;
  padding: 26px 34px;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 0.5em 1em; /* adjust values as needed */
  border: none; /* remove border */
  width: 20%;
  font-family: arial;
}
.box h3{
  font-variant: small-caps;
  font-size: 30px;
}
.aako{
  background-color: #2c2f33;
}
.aako img{
  display: block;
  margin: auto;
}
.msg{
  color: whitesmoke  ;
}
.msg h1{
  font-size: 30px;
}
.msg h3{
  font-size: 40px;
}
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/main/20220807_015116.gif');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.background2 h1{
  text-align: center;
  font-size: 100px;
}
.background2 a{
  margin-left: 0;
}
.invite{
  background-image: url("/main/unknown_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.list{
  font-size: 35px;
  text-decoration: none;
  text-transform: uppercase;
}
.main ,body{
  background-color: #2c2f33;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
}
.okay h1{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: #7289da;
}
.okay h3{
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color:#7289da ;
}
.okay img{
  height: 120px;
}
@media only screen and (max-width:700px){
    background {
    display: block;
    margin: auto;
}
}